# Token Civitai (opcional pero recomendado)
CIVITAI_TOKEN=

# Checkpoint principal anime
# Hassaku XL (Illustrious) v3.4 (hash 1618edb443)
CKPT_URL=https://civitai.com/api/download/models/2615702
CKPT_NAME=hassakuXLIllustrious_v34.safetensors

# VAE
VAE_URL=https://huggingface.co/stabilityai/sdxl-vae/resolve/main/sdxl_vae.safetensors
VAE_NAME=sdxl_vaeFix.safetensors

# Upscaler anime
UPSCALER_URL=https://github.com/xinntao/Real-ESRGAN/releases/download/v0.2.5.0/RealESRGAN_x4plus_anime_6B.pth
UPSCALER_NAME=RealESRGAN_x4plus_anime_6B.pth

# Embeddings (negativos)
NEG_EMBED_URL_1=
NEG_EMBED_NAME_1=negativeXL_D.safetensors

# LoRAs (opcionales)
LORA_URL_1=
LORA_NAME_1=
LORA_URL_2=
LORA_NAME_2=
